setuptools
pywebview
pyinstaller; sys_platform != 'darwin'
py2app; sys_platform == 'darwin'
anki
protobuf>=6.31.1
langchain
langchain_core
langchain_openai
langchain_anthropic
langchain_google_genai
langchain_voyageai
langchain-ollama
langgraph
pydantic
langchain-chroma
langchain-community
pypdf
tiktoken
tenacity==8.3.0
cryptography
requests
google-generativeai
anthropic
