setuptools
pywebview
pyinstaller; sys_platform != 'darwin'
py2app; sys_platform == 'darwin'
anki
langchain
langchain_core
langchain_openai
langgraph
pydantic
langchain-chroma
langchain-community
pypdf
tiktoken
tenacity==8.3.0
cryptography
protobuf=6.31.1
