.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  height: 60px;
  border-bottom: #cccccc 1px solid;
}

.logo-container {
  display: flex;
  align-items: center;
  height: 50px; /* Set a fixed width to prevent jumping */
}

.logo {
  height: 50px; /* Adjust size as necessary */
}

.button-icon {
  cursor: pointer;
  width: 50px; /* Set appropriate size for the back icon */
  height: 50px; /* Maintain aspect ratio */
}

.header-title {
  margin-left: 10px; /* Adjust as needed to get the right spacing */
}

.settings {
  display: flex;
  margin-left: auto; /* Pushes settings to the far right */
  align-items: center; /* Ensure the button stays centered */
}

.settings-button {
  padding: 5px 15px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.settings-button:hover, .settings-button.pressed {
  background-color: #cccccc; /* Darker shade for hover and pressed state */
}
